#footer a:hover{
    color:#fff;
}
#footer a:focus{
    color:#fff!important;
}
.foot_title img,.foot_list img{
    width: 100%;
}
.foot{
    /* padding:80px */
}
.foot-title{
    text-align: center;
}
.foot-title>p{
    padding: 0;
    margin: 0;
}
.foot-title>p:first-child{
    font-family: FZDBSJW--GB1-0;
	font-size: 38px;
	font-weight: normal;
	font-stretch: normal;
	/* line-height: 38px; */
	letter-spacing: 2px;
	color: #ffffff;
}
.foot-title>p:nth-child(2){
	font-size: 17px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 44px;
	letter-spacing: 0px;
	color: #ffffff;
}
.p-dec{
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 28px;
	letter-spacing: 0px;
	color: #f7f7f7;
    opacity: 0.38;
    margin: 0;
    text-align: center;
}
.foot-tip{
	font-size: 38px;
	font-weight: normal;
	letter-spacing: 5px;
	color: #f5a135;
}
.cut-line{
    height: 1px;
    background: #4E4E4E;
}
.foot-list{
    margin: 50px;
    display: flex;
    justify-content: space-around;
}
.foot-list>.list>div{
    text-align: center;
}
.list-line{
    width: 1px;
    background: #fffeff;
    height: 80px;
    margin-top: 20px;
    opacity: 0.2;
}

.foot-list>.list>div>p{
    margin-top: 20px;
    font-family: FZLTXHJW--GB1-0;
	font-size: 21px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #f7f7f7;
}
.diff{
    font-family: FZLTXHJW--GB1-0;
	font-size: 17px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 23px;
	letter-spacing: 0px;
	color: #f7f7f7;
	opacity: 0.38;
}
/* .foot-list>ul{
    display: flex;
    justify-content: space-around
}
.foot-list>ul>li{
    width: 25%;
}
.foot-list>ul>li>div{
    height: 90px;
    text-align: center;
    border-right: 1px solid #fff;
}
.foot-list>ul>li:last-child>div{
    border:none;
} */
/* .foot-list>ul>li>div>p{
    font-family: FZLTXHJW--GB1-0;
	font-size: 21px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
    color: #f7f7f7;  
}
.foot-list>ul>li>div:last-child>p{
    margin-top: 10px;
} */
.company-box{
    margin-bottom: 5%;
}
.company{
    width: 1345px;
    display: flex;
    justify-content: space-around;
    margin:0 auto;
    background-color: #2C1D0A;
    height: 150px;
    /* opacity: 0.4; */
    
}
.foot-line{
    width: 1px;
    background: #fffeff;
    height: 80px;
    margin: 35px 0;
    opacity: 0.28;
}
.company li{
    color:#ffffff;
}
.foot-logo img{
    width: 108px;
    margin: 23px 0;
}
.company>div>ul{
    height: 144px;
    padding: 23px 0;
    /* padding: 20px; */
    /* display: flex;
    justify-content: space-around;
     */
}
.foot-link li{
    line-height: 35px;
    font-size:17px;
}
.foot-address li{
    line-height: 35px;
    font-size:17px;
}
.foot-address img{
    margin-right: 10px;
}
.ewm{
    width: 101px;
    height: 102px;
    margin: 20px;
}
.company>div>ul>li:nth-child(1){
    /* padding-right:100px; */
    /* border-right: 1px solid #ffffff; */
}
/* .company>div>ul>li:first-child{
    width: 180px;
}*/
/* .company>div>ul>li:nth-child(2){
    width: 20%;
} 
.company>div>ul>li:last-child{
    padding-left: 80px;
    border-left: 1px solid #ffffff;
} */
.list1,.list2{
    display: flex;
    justify-content: space-between;
}
.list1 p{
    font-family: FZLTXHJW--GB1-0;
	font-size: 17px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 35px;
	letter-spacing: 0px;
    color: #f7f7f7;
    margin: 0;
}
.list2 li{
    font-family: FZLTXHJW--GB1-0;
	font-size: 17px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 35px;
	letter-spacing: 0px;
	color: #ffffff;
}
.list2 li:nth-child(2){
    font-family: FZLTXHJW--GB1-0;
	font-size: 17px;
	font-weight: normal;
	letter-spacing: -1px;
	color: #ffffff;
}
.list2 li img{
    margin-right: 10px;
}
.list2>ul:first-child{
    margin-right: 20px;
}
.list1-1{
    /* margin-right: 40%; */
}
/* .flag{
    width: 1px;
} */