body{
    position: relative;
}
#goToTop {
    position: absolute;
    right:10px; 
    /* bottom: 100px; */
    z-index: 9000; 
}
#goToTop a { 
    background: #fff;
    border: 1px solid #CCCCCC; 
    border-radius: 3px; -webkit-border-radius: 3px; 
    color: #000; 
    font-size: 14px;
    padding: 10px; 
    text-decoration: none; 
    /* text-shadow: 0 1px 0 #999; -webkit-text-shadow: 0 1px 0 #999;  */
}



/* 弹窗 */
/* .cover{
    width:100%;
	height:100%;
	position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10000;
    opacity: 1.01;
} */
.msgBox{
    position: fixed;
    top:24%;
    left: 35%;
    width: 372px;
	height: 510px;
	background-color: #ffffff;
    border-radius: 10px;
    display: none;
}
.msgBox .tip{
    text-align: center;
    font-family: FZLTXHJW--GB1-0;
	font-size: 23px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #000000;
}
.msgBox .kefu_dec{
    margin-top: 20px;
    text-align: center;
    font-family: FZLTXHJW--GB1-0;
	font-size: 23px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #000000;
}
.msgBox .cha{
    text-align: right;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
}
.box_ewm{
    text-align: center;
}
.msgBox .btn{
    margin-top: 40px;
    width: 100%;
    text-align: center;
}
.msgBox .enter{
    text-align: center;
    border:none;
    width: 276px;
	height: 37px;
	background-color: #7d0000;
    border-radius: 10px;
    font-family: FZLTXHJW--GB1-0;
	font-size: 23px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 21px;
	letter-spacing: 0px;
	color: #ffffff;
}