@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    /* font-family: "Microsoft YaHei", Arial, sans-serif;
    font-size: 14px; */
}
body{
    position: relative;
    
}
.menu-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color:#000;
    opacity:0.6;
    display: none;
}
.menulist{
    width: 100%;
    height: 100%;
}
.menu-main{
    height: 90%;
    overflow: scroll;
}
.menu{
    width: 80%;
    height: 100%;
    /* overflow: scroll; */
    position: absolute;
    z-index: 999;
    top:0;
    left: -80%;
    background: #000;
    /* left: -80%;
    width: 80%;
    z-index: 3; */
}
dl{
    margin-bottom: -1px;
}
.menu-top {
    width: 100%;
    height:100px;
    background: #fff;
}
.menu-top div{
    width: 50px;
    padding: 26px 0;
    margin-left: 4%;
}
.menu-bottom{
    width: 100%;
    height: 81px;
    background: #fff;
}
.open{
    left: 0;
    transition: left .3s ease-in-out;
}
.close{
    left: -80%;
    transition: left .3s ease-in-out;
}
.close:focus, .close:hover{
    opacity: 1;
}
.list_dt{
    background: #000;
    color: white;
    /* width: 120px; */
    padding: 0 40px 0 20px;
    height: 8%;
    line-height: 97px;
    font-size: 29px;
    cursor: pointer;
    /* overflow: hidden; */
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    border-bottom: 1px solid #fff;
    opacity: 1;
}
.list_dt p{
    font-size: 29px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: -1px;
    color: #ffffff;
    line-height: 87px;
    margin-bottom: 0px;
}
.list_dt:hover{
    /* background: #222; */
}
.list_dt:hover ._after{
    display: block;
    width: 3px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    /* background: #4285F4; */
}
#open{
    /* background: #222; */
}
#open ._after{
    display: block;
    width: 3px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    /* background: #4285F4; */
}
.list_dt_icon{
    position: absolute;
    right: 43px;
    top: 35px;
    display: block;
    width: 30px;
    height: 20px;
    background: url("../images/common/down.png") no-repeat;
    background-size: cover;
}
#open .list_dt_icon{
    background: url("../images/common/down.png") no-repeat;
    background-size: cover;
    transform: rotate(180deg);
}
.list_dd{
    display: none;
    background: #fff;
}
.list_dd ul{
    padding: 5% 0;
}
.list_li{
    display: flex;
    justify-content: space-around;
    background: #fff;
    list-style-type: none;
    color: white;
    width: 100%;
    padding: 0 30px;
    height: 25%;
    line-height: 60px;
    cursor: pointer;
    /* border-bottom: 1px solid #6b6b6b; */
    font-size: 26px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #000000;
	/* opacity: 0.5; */
}
.list_li span{
    display: inline-block;
    width: 50%;
    font-size: 26px;
	font-weight: normal;
	font-stretch: normal;
	/* line-height: 17px; */
	letter-spacing: 0px;
	color: #A5A5A5;
	/* opacity: 0.5; */
}
.list_li span:hover{
    color:#000;
    outline: none;
}
.list_li:hover{
    /* background: #4285F4; */
}
