/* 轮播 */
.product>.swiper-container>.swiper-button-next{background-image:url(../images/common/left.png);background-size: 100%;right: 45px;margin-top: -75px;width: 44px;z-index: 9999;transform: rotate(180deg);}
.product>.swiper-container>.swiper-button-prev{background-image:url(../images/common/left.png);background-size: 100%;left: 51px;margin-top: -75px;width: 44px;z-index: 9999;}
.carousel-indicators>li{margin-left: 50px;}
.carousel-indicators>.active{width: 50px;margin-left: 50px;}
.product>.swiper-container>.swiper-pagination-bullet-active{width: 40px;border-radius: 10px;}
.carousel-control{font-size: 45px;}
.glyphicon{font-weight: 100;top: 45%;}

.lunbo{height: 400px;}
img{width: 100%;}

/*广告*/
.advertising{width: 90%;margin: 0 auto;position: relative;border: 1px solid #262626;box-shadow:0 2px 2px black;}
.advertising>span{position: absolute;right: 185px;bottom: 36px;letter-spacing: 3px;}
.advertising>.right{position: absolute;right: 180px;bottom: 50px;letter-spacing: 2px;}
.advertising>.left{position: absolute;left: 182px;bottom: 6px;letter-spacing: 1px;}
.top{margin-top: 35px;}
.product>.product_top{margin-top: 66px;text-align: center;}
.product>.product_top>ul{display: flex;justify-content: center;}
.product>.product_top>ul>li{
    /* width: 10%; */
    padding-left: 10px;
}
.product>.product_top>ul>li:first-child{
    border-right: 1px solid #fff;
}
/*产品轮播*/
.product{overflow: hidden;}


.product>.swiper-container>.swiper-wrapper>.li{width: 15% !important;text-align: center;color: #b8a159;font-size: 16px;}

.product>.swiper-container>.swiper-wrapper>.li>.swiper_boder>img{width: 210px;height: 210px}
/* .product>.swiper-container>.swiper-wrapper>.li>.swiper_boder:hover{border: 2px solid #cdb463;} */
.product>.swiper-container>.swiper-wrapper>.li>.fcfbdc{color: #fcfbdc;padding-top: 48px;font-size: 18px;}
.product>.swiper-container>.swiper-wrapper{margin-left: 11.5%;margin-right: 20px;}
.product>.swiper-container>.swiper-wrapper>.marlet{margin-left: 10px;}
.m50{margin-top: 50px;}

/* 标题 */
.two{
    background: #000000;
    padding: 100px 100px;
}
.three{
    padding-botton: 100px;
}
.title{
    font-family: FZDBSJW--GB1-0;
    font-size: 38px;
    text-align: center;
    margin-bottom: 50px;
}
.title>.tip>span{
    color: #ffffff;
}
.bar{
    font-family: FZKTJW--GB1-0;
	font-size: 21px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #fffeff;
	opacity: 0.16;
}
.i{
    color: #f5a135;
}
.wire{
    width: 307px;
    margin: 0 auto;
    height: 1px;
    opacity: 0.2;
    background: #fffeff;
}
.img-list>ul{
    display: flex;
    /* justify-content: space-between; */
}
/* .img1{
    width: 100%;
    height: 100%;
    background: url(../images/common/pro1.jpg)no-repeat;
    background-size: cover;
}
.img2{
    width: 100%;
    height: 100%;
    background: url(../images/common/pro1.jpg)no-repeat;
    background-size: cover;
}
.img3{
    width: 100%;
    height: 100%;
    background: url(../images/common/pro1.jpg)no-repeat;
    background-size: cover;
} */
.img-list>ul>li{
    width: 406px;
    /* height: 382px; */
    
    /* border: 1px solid #fff; */
}
.img-list>ul>li:nth-child(2){
    margin: 0 5%;
}
.img-list>ul>li>img{
    display: block;
    border: solid 1px #313131;
    /* width: 406px;
	height: 382px;
    border: 1px solid #fff; */
}
.img-list>ul>li>.dec{
    font-family: FZLTXHJW--GB1-0;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
    color: #ffffff;
    margin-top: 30px;
    padding: 0 10px;
}
.p-title{
    font-size: 21px;
    text-align: center;
}
.zi{
    font-family: FZDBSJW--GB1-0;
	font-size: 38px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 38px;
	letter-spacing: 3px;
	color: #ffffff;
}
.pinying{
    font-family: FZKTJW--GB1-0;
	font-size: 17px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 44px;
	letter-spacing: 1px;
	color: #ffffff;
}
.very{
    font-family: FZDBSJW--GB1-0;
	font-size: 38px;
	font-weight: normal;
	/* letter-spacing: 5px; */
	color: #f5a135;
}